.mobileMenu{
    display:grid;
    position:absolute;
    background:$secondary;
    right:0px;
    width:50%;
    margin-top:40px;
    padding:10px;
    display:none;
    border-radius: $border-radius;
    a{
        margin:15px 0px;
        padding:10px;
        color:$light;
        border: 1px solid;
        width:100%;
    }
}
.sidebar-container{
    position: relative;
    background:$primary; 
}

.sidebar::before{
    background-color: $primary;
    content:'';
    position: absolute;
    width: 100%;
    height:100vh;
    z-index:-1;
}

.sidebar .side-button a:hover,.sidebar .side-button button:hover{
    background-color: rgba(255, 255, 255, .12);
    border-radius: 0px 25px 25px 0px;
    margin-right: 5px;
}